BeautifulSoup==3.2.1
beautifulsoup4==4.5.1
funcsigs==1.0.2
google==1.9.3
lxml==3.7.1
mock==2.0.0
numpy==1.11.3
pbr==1.10.0
pkg-resources==0.0.0
protobuf==3.1.0.post1
requests==2.12.4
six==1.10.0
tensorflow==0.12.1
